body{margin: 0px;}
.item{
  border: 3px solid;
  height:170px;
  margin-top: 16px;
}
*{
  font-family: "MOSCOW2024";
  /* color: red; */
}
/* @media screen and (min-width: 600px) { */
.item{ width: 48%; }
/* } */
@media screen and (min-width: 900px) {
  .item{ width: 31%; }
}
@media screen and (min-width: 1200px) {
  .item{ width: 23%; }
}

@font-face {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: 400;
  src: url("/MOSCOW2024.otf") format("opentype");
}
li {
  display: block;
}
ul{padding-left: 16px;}
h1{
  font-weight: 800;
  text-align: center;
}
.search-input{
  text-align: center;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
}
.input{
  width: 50%;
  height: 20px;
  padding: 5px;
  border: 3px solid;
  border-radius: 8px;
  margin-right: 10px;
}
input::placeholder {
  color: gray;
  font-size: 1.1em;
  font-style: italic;
  font-family: "Comic Sans MS"
}
.content{
  width:100%;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.button-container{
  display: flex;
  flex-direction: row-reverse;
}
.button{
  border: 3px solid;
  height:20px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}
.reg-wrap{
  /* align-items: center; */
  display: flex;
}
.reg{
  display: flex;
  flex-direction: column;
  display: inline-block;
  border: 1px solid gray;
  padding: 25px 25px 3px 25px ;
  border-radius: 16px;
  max-width: 450px;
  margin: auto auto 0px auto;
}
.reg-input{
  height:30px;
  width:382.16px;
  margin-bottom: 25px;
  /* margin: 1px; */
}
.reg-button:hover{
  /* background-color: #111088; */
  color: white;
  background-position: 0% 0%;
}
.reg-button{
  transition: background-position 0.3s;
  /* transition-duration: .3s; */
  background-size: 200% 100%;
  background-image: linear-gradient(to right, blue 50%, white 50%);
  background-position: 100% 0;
  cursor: pointer;
  margin-bottom: 25px;
  height: 35.84px;
  width:390px;
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
.reg-checkbox{
  margin-bottom: 25px;
}
.reg-logon a{
  color: lightgray; text-decoration: none;
}
.reg-logon a:hover{
  color: gray; text-decoration: none;
}
.reg-logon{
  color: lightgray;
  font-size: 0.6em;
  text-align: right;
}

small{
  color: #AD1A1A;
  font-size: 0.5em;
  text-align: right;
}
